# Database
DATABASE_URL="mysql://user:password@localhost:3306/gameon"

# JWT
JWT_SECRET="sua_chave_secreta_jwt_aqui"

# Email Configuration
EMAIL_SERVICE="gmail"
EMAIL_USER="seu_email@gmail.com"
EMAIL_PASSWORD="sua_senha_ou_app_password"

# APP
PORT=3000
APP_URL="http://localhost:3000"
